.error {
    color: red;
}

.label {
    margin-top: 6pt;
}

.data {
    
    input, select, textarea {
        width: 100%;
    }
}

.dataOutput {
    margin-top: 12pt;
}

.data, .dataOutput {
    width: 50%;
}