<form action="" *ngIf="isReady" (ngSubmit)="sendPost()">
    <div class="dataInput">
        <div class="label">
            Author
        </div>
        <div class="data">
            <select [(ngModel)]="postUserId" name="author">
                <option *ngFor="let author of authors" value="{{ author.id }}">{{ author.name }}</option>
            </select>
        </div>
    </div>

    <div class="dataInput">
        <div class="label">
            Título
        </div>
        <div class="data">
            <input type="text" [(ngModel)]="postTitle" name="title" />
        </div>
    </div>

    <div class="dataInput">
        <div class="label">
            Contenido
        </div>
        <div class="data">
            <textarea [(ngModel)]="postBody" name="body"> </textarea>
        </div>
    </div>

    <div class="dataOutput">
        <button [disabled]="disabledButton" type="submit">Submit</button>
    </div>

</form>