$colorError: #a94442;
$colorNoError: #42A948;

.error {
    color: $colorError;
}

.label {
    margin-top: 6pt;
}

.data {
    
    input, select, textarea {
        width: 100%;
        border-radius: 5px;
    }
    
    input, textarea {
        padding-left: 5px;
    }
}

.dataOutput {
    margin-top: 12pt;
}

.data, .dataOutput {
    width: 256px;
}


.ng-valid[required], .ng-valid.required{
    border-left: 5px solid $colorNoError;
}

.ng-invalid:not(form){
    border-left: 5px solid $colorError;
}