<div *ngIf="isReady">
    <form action="">
        <div class="dataInput">
            <div class="label">
                Author
            </div>
            <div class="data">
                <select>
                    <option *ngFor="let author of authors" value="{{ author.id }}">{{ author.name }}</option>
                </select>
            </div>
        </div>

        <div class="dataInput">
            <div class="label">
                Título
            </div>
            <div class="data">
                <input type="text" />
            </div>
        </div>

        <div class="dataInput">
            <div class="label">
                Contenido
            </div>
            <div class="data">
                <textarea>

                    </textarea>
            </div>
        </div>

        <div class="dataOutput">
            <input type="submit" />
        </div>

    </form>
</div>