<form action="" *ngIf="isReady" (ngSubmit)="sendPost()">
    <div class="dataInput">
        <div class="label">
            Author
        </div>
        <div class="data">
            <select [(ngModel)]="postUserId" (change)="EvaluateSubmit()" [disabled]="!enableInput" name="author" id="author" #author="ngModel">
                <option *ngFor="let author of authors" value="{{ author.id }}">{{ author.name }}</option>
            </select>
        </div>
    </div>

    <div class="dataInput">
        <div class="label">
            Título
        </div>
        <div class="data">
            <input type="text" [(ngModel)]="postTitle" (keypress)="EvaluateSubmit()" [disabled]="!enableInput" name="title" id="title" #title="ngModel" />
        </div>
    </div>

    <div class="dataInput">
        <div class="label">
            Contenido
        </div>
        <div class="data">
            <textarea [(ngModel)]="postBody" (keypress)="EvaluateSubmit()" [disabled]="!enableInput" name="body" id="body" #body="ngModel" > </textarea>
        </div>
    </div>

    <div class="dataOutput">
        <button [disabled]="!enableSubmit" type="submit">Submit</button>
    </div>

</form>