<main class="row" *ngIf="isReady">
  <div class="col-sm-12 row">
    <div class="col-2">
      <section class="photo">
        <img src="assets/img/users/duck-icon.svg" />
      </section>
    </div>
    <div class="col-10">
      <section class="title">
        {{ user.username }}
      </section>
      <section class="col-md-10 info">
        <div class="row">
          <div class="col-3 label">Nombre: </div>
          <div class="col answer">{{ user.name }}</div>
        </div>
        <div class="row">
          <div class="col-3 label">Email: </div>
          <div class="col answer">{{ user.email }}</div>
        </div>
        <div class="row">
          <div class="col-3 label">Teléfono: </div>
          <div class="col answer">{{ user.phone }}</div>
        </div>
        <div class="row">
          <div class="col-3 label">Página: </div>
          <div class="col answer"><a href="{{ user.website }}">{{ user.website }}</a></div>
        </div>
      </section>
    </div>
  </div>
  <section class="col-12 subtitle">
    Posts
  </section>
  <ul>
    <li *ngFor="let post of posts">
      <a [routerLink]="'/post/' + post.id">{{ post.title }}</a>
    </li>
  </ul>
</main>