<main class="row">
  <div class="col-sm-12 row">
    <div class="col-2">
      <section class="photo">
        <img src="assets/img/users/duck-icon.svg" />
      </section>
    </div>
    <div class="col-10">
      <section class="title">
        El Pato
      </section>
      <section class="col-md-10 info">
        <div class="row">
          <div class="col-3 label">Nombre: </div>
          <div class="col answer">Don Quiroga Aguirres del Pato</div>
        </div>
        <div class="row">
          <div class="col-3 label">Edad: </div>
          <div class="col answer">Más de 30.</div>
        </div>
        <div class="row">
          <div class="col-3 label">Animal preferido: </div>
          <div class="col answer"><span style="text-decoration: line-through">Monos</span> Patos.
          </div>
        </div>
        <div class="row">
          <div class="col-3 label">Categoría principal: </div>
          <div class="col answer">Anime.</div>
        </div>
      </section>
    </div>
  </div>
  <section class="col-12 subtitle">
    Posts
  </section>
</main>