<main>
  <div class="col-12 row">
    <app-post-item class="col-md-6 main-article" *ngIf="mainPost != null" [post]="mainPost">
    </app-post-item>
    <div class="col-md-6 secondary-articles" *ngIf="!!secondaryPosts.length">
      <div *ngFor="let post of secondaryPosts" class="col-md-12 secondary-article">
        <app-post-item [post]="post" [horizontal]="true">
        </app-post-item>
      </div>
    </div>
  </div> 
  <div class="col-12 row" *ngIf="!!olderPosts.length">
    <app-post-item class="col-md-3 normal-article" *ngFor="let post of olderPosts" [post]="post">
    </app-post-item>
  </div>
</main>