<main>
  <div class="col-12 row">
    <div class="col-md-6 main-article">
      <article>
        <section class="photo">
          <div>
            <img src="https://picsum.photos/1000/1000/?random" />
          </div>
        </section>
        <section class="entry">
          <div class="title">
            <a routerLink="post">Main Article</a>
          </div>
          <div class="author">
            <a routerLink="author">Señor Araña</a>
          </div>
          <div class="content">
            Lorem ipsum dolor sit amet consectetur adipiscing elit vestibulum mi, lobortis gravida platea magna leo cum
            integer ridiculus arcu, lectus mauris ligula luctus cursus pretium dis rutrum.
          </div>
          <div class="category">

          </div>
        </section>
      </article>
    </div>
    <div class="col-md-6 row">
      <div class="col-sm-6 vertical-secondary-article">
        <article>
          <section class="photo">
            <div>
              <img src="https://picsum.photos/1001/1000/?random" />
            </div>
          </section>
          <section class="entry">
            <div class="title">
              Secondary Article
            </div>
            <div class="author">
              <a routerLink="author">Señor Tortugas</a>
            </div>
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam venenatis ullamcorper tristique. Donec
              sodales tempor nunc amet.
            </div>
            <div class="category">

            </div>
          </section>
        </article>

      </div>
      <div class="col-sm-6 vertical-secondary-article">
        <article>
          <section class="photo">
            <div>
              <img src="https://picsum.photos/1002/1000/?random" />
            </div>
          </section>
          <section class="entry">
            <div class="title">
              Secondary Article
            </div>
            <div class="author">
              <a routerLink="author">Señor Langosta</a>
            </div>
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra mi nec turpis sodales, porta
              efficitur nisi turpis duis.
            </div>
            <div class="category">

            </div>
          </section>
        </article>

      </div>
      <div class="col-md-12 horizontal-secondary-article">
        <article>
          <section class="photo">
            <div>
              <img src="https://picsum.photos/1003/1000/?random" />
            </div>
          </section>
          <section class="entry">
            <div class="title">
              Secondary Article
            </div>
            <div class="author">
              <a routerLink="author">Señor Abeja</a>
            </div>
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget dapibus neque. Proin feugiat velit a
              interdum tincidunt. Vestibulum varius mollis quam in elementum. In lobortis nisi tellus, in dapibus urna
              consectetur in. Ut consectetur ut ipsum in amet.
            </div>
            <div class="category">

            </div>
          </section>
        </article>

      </div>
    </div>
  </div>
  <div class="col-12 row">
    <div class="col-md-3 normal-article">
      <article>
        <section class="photo">
          <div>
            <img src="https://picsum.photos/1005/1000/?random" />
          </div>
        </section>
        <section class="entry">
          <div class="title">
            Normal Article
          </div>
          <div class="author">
            <a routerLink="author">Señor Hormiga</a>
          </div>
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lacinia feugiat purus, nec fringilla erat
            euismod nec. In metus.
          </div>
          <div class="category">

          </div>
        </section>
      </article>
    </div>
    <div class="col-md-3 normal-article">
      <article>
        <section class="photo">
          <div>
            <img src="https://picsum.photos/1006/1000/?random" />
          </div>
        </section>
        <section class="entry">
          <div class="title">
            Normal Article
          </div>
          <div class="author">
            <a routerLink="author">Señor Araña</a>
          </div>
          <div class="content">
            Lorem ipsum dolor sit amet consectetur adipiscing elit vestibulum mi, lobortis gravida de nuevo.
          </div>
          <div class="category">

          </div>
        </section>
      </article>
    </div>
    <div class="col-md-3 normal-article">
      <article>
        <section class="photo">
          <div>
            <img src="https://picsum.photos/1007/1000/?random" />
          </div>
        </section>
        <section class="entry">
          <div class="title">
            Normal Article
          </div>
          <div class="author">
            <a routerLink="author">Señor Mantis</a>
          </div>
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vulputate aliquet felis, at ultrices
            justo auctor volutpat.
          </div>
          <div class="category">

          </div>
        </section>
      </article>
    </div>
  </div>
</main>