main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

article {
    display: flex;
    height: 100%;

    margin: 0px;
    padding: 0px;

    border: 1px solid darkslategray;
    border-radius: 7px;
}

.main-article, .normal-article {
    padding-block-end: 15px;
    padding-inline-end: 0px;
}

.secondary-articles{
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
    padding-block-start: 0px;
    padding-block-end: 0px;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
}