
        <nav>
            <a href="#">Acción y aventura</a>
            <a href="#">Anime</a>
            <a href="#">Familiares</a>
            <a href="#">Clásicas</a>
            <a href="#">Comedias</a>
            <a href="#">Culto</a>
            <a href="#">Documentales</a>
            <a href="#">Dramas</a>
            <a href="#">Internacionales</a>
            <a href="#">LGBTQ</a>
            <a href="#">Terror</a>
            <a href="#">Independientes</a>
            <a href="#">Música</a>
            <a href="#">Musicales</a>
            <a href="#">Románticas</a>
            <a href="#">Deportes</a>
            <a href="#">Thrillers</a>
            <a href="#">Series</a>
        </nav>