header {
    display: flex;
    justify-content: center;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 1px solid lightgray;
}

nav {
    display: flex;
    flex-direction:  row;
    justify-content: space-between;
    flex-wrap: nowrap;
    white-space: nowrap;

    overflow-x: hidden;
    overflow-y: hidden;

    a {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 8px;
        color: dimgrey;
    }
}

footer {
    background-color: #343a40;
    color: white;
}

// Footer de mierda ↓
html {
    height:100%
}
body {
    position: relative;
    min-height: 100vh;
}
.container{
    padding-bottom: 2.5rem; 
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}