
main {
    display: flex;
    flex-direction: column;
}

article {
    display: flex;
    flex-direction: row;
}

.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13pt;
}

.author {
    font-size: 9pt;
    font-style: italic;
    color: gray;
}

.content {
    font-size: 11pt;
}