// Secciones
.photo {
    padding: 10px;

    img {
        width: 100%;
    }
}
.entry {
    padding: 10px;
}

// Texto
.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13pt;

    a { 
        color: #333; 
        
        &:hover {
            color: #339; 
        }
    }
}

.author {
    font-size: 9pt;
    font-style: italic;
    color: gray;

    a {
        color: inherit;
    }
}

.content {
    text-indent: 6pt;
    text-align: justify;
    font-size: 11pt;
    padding: 10px;
}

.readMore {
    font-style: italic;
    font-size: 10pt;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

//Article

article {
    display: flex;
    height: 100%;

    margin: 0px;
    padding: 0px;

    border: 1px solid darkslategray;
    border-radius: 7px;

    &.horizontal {
        flex-direction: row;
        
        section {
            width: 50%;
        }
    }

    &.vertical {
        flex-direction: column;
    }
}